@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

p {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
}
ul,
ol {
  margin: 0;
  padding-inline-start: 1.5rem;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  list-style: disc;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0.3rem 0;
  background-color: #333;
}

code {
  background: #0d1117;
}

a {
  color: #4682b4;
  text-decoration: inherit;
}

/**
 * 一旦の応急処置
 */
h3 {
  color: #fff !important;
}

h4 {
  color: #fff !important;
}

h5 {
  color: #fff !important;
}

h6 {
  color: #fff !important;
}
